
.App {
    margin: auto;
    padding: 10px;
    text-align: center;
  }

  .App-footer {
  color: white;
  }
  
  a:link {
    color: rgb(167, 7, 167);
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(167, 7, 167);
    text-decoration: none;
  }
  
  a:hover {
    color:rgb(167, 7, 167);
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;
  }
  
  .card-body {
    border-radius: 100px;
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
    max-width: 750px;
    margin: 0 auto;
    padding: 35px 35px;
  }
  
  .ForecastPreview {
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
    max-width: 120px;
    border-radius: 15px;
    padding: 30px 30px;
    color: white;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .WeatherDescription {
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
    max-width: 600px;
    margin: 10px auto;
    padding: 10px 10px;
    font-size: large;
    color: White;
    border-radius: 150px;
    text-align: center;
  }